body {
  width: 1200px;
  margin: 0 auto;
}
p {
  font-size: xx-large;
}
.droptarget {
  float: left; 
  width: 300px; 
  height: 350px;
  margin: 15px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  font-size: 70px;
}
