body {
    margin: 0;
}

.kek {
    width: 100vw;
    height: 105vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wheel {
    width: 200px;
    height: 200px;
    background-color: red;
    font-size: 50px;
}